# Cria uma app em: https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=coloca_aqui
SPOTIFY_CLIENT_SECRET=coloca_aqui

# Cookie sp_dc do Spotify (obter em: Application > Cookies > open.spotify.com)
SP_DC=coloca_aqui
